[submodule "wifimodule"]
	path = wifimodule
	url = https://github.com/TrueCraftWorld/WifiChooser.git
[submodule "updatemodule"]
	path = updatemodule
	url = https://github.com/TrueCraftWorld/UpdateClient.git
